h2 {
  margin: .25rem;
  color: #D4213D;
}

div.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 1rem;
  background-color: rgb(129, 168, 167);
  border: none;
  color: rgb(233, 239, 234);
  text-shadow: 4px 4px 12px rgba(246, 245, 245, 0.9); /* Cień przycisku */
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  button {
    padding: 0.8rem;
    font-size: 1rem;
  }

  #coin {
    width: 15rem;
    height: 15rem;
    margin: 1.5rem 0rem;
  }
}

#coin {
  position: relative;
  width: 20rem;
  height: 20rem;
  margin: 2rem 0rem;
  transform-style: preserve-3d;
}

#coin div {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 50%;
  backface-visibility: hidden;
  background-size: contain;
  position: absolute;
}

/* Orzeł */
.heads {
  background-image: url("../img/2014_07___25lat_5zl_A.jpg");
}

.animate-heads {
  animation: flipHeads 3s;
  animation-fill-mode: forwards;
}

@keyframes flipHeads {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(1800deg);
  }
}

/* Reszka */
.tails {
  background-image: url("../img/2014_07___25lat_5zl_R.jpg");
  transform: rotateY(-180deg);
}

.animate-tails {
  animation: flipTails 3s;
  animation-fill-mode: forwards;
}

@keyframes flipTails {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(1620deg);
  }
}

.result {
  text-align: center;
  margin: 1rem;
}

.result-text {
  margin: 0.5rem 0;
}

@media screen and (max-width: 600px) {
  .result {
    margin-top: 1rem;
  }
}

